*{
	margin:0px;
}






body{
	padding:0px;
	text-align:center;
	font-size:13px;
	font-family:arial,sans-serif;
	font-weight: normal;
	color:#000;
	background:#EEF4FB;
	background:#000;
}

header, footer, nav, aside, section, article {
	
	display:block;
}

#div_buttonBox{
	float:left;
	width:99%;
	height:40px;
	background:#5478C8;
}

#div_wrapper{
	margin:2px;
	float:left;
	text-align:left;
	width:1024px;
	height:1024px;
	
	margin:0 auto;
	background-color:#D2D8DD;
}


header, footer{
	width:99%;
	color:#000000;
}

aside{
	/*
	position:static;
	*/
	float:left;
	
	width:187px;
	height:74%;
	margin-right:2px;
	
}

section {
	float:left;
	margin-bottom:10px;
	min-width:820px;
	max-width:830px;
	min-height:650px;
	padding-top:40px;
	padding-left:2px;
	background-color:#ffffff;
	border:2px solid #bbbbbb;
	border-radius:4px;
	opacity:0.99;
}



header, footer, nav, aside, section{
	
	margin-bottom:5px;
	
}

header
{
	background: #bacfdf;
	color: #000000;
	height: 80px;
}

nav
{
	float:left;
	width:800px;
	height:63px;
}


article {
	padding: 5px 5px 5px 5px;
	background-color: #E6EEF0;
	min-height:50px;
	border-radius:4px;
	border:1px solid #dddddd;
}

#div_wrapper{
	min-height:1024px;
	background-color:#5478C8;
}





/*
 * Button CSS
 */

.bu_css{ 
	padding-left:15px;
	background-color:#ffffff;
	border-top:1px hidden #dcdcdc;
	border-right:1px hidden #dcdcdc;
	border-bottom:1px solid #dcdcdc;
	display:inline-block;
	color:#222222;
	font-size:15px;
	font-weight:normal;
	height:30px;
	line-height:2px;
	width:180px;
	text-align:left;
}

.bu_css2{
	background-color:#ffffff;
	border:1px solid #222222;
	border-radius:3px;
	display:inline-block;
	color:#111111;
	font-size:13px;
	font-weight:normal;
	height:20px;
	line-height:5px;
	width:50px;
	text-align:center;
}



/*
 * colorset 01
 * background: #11282D;
 * background: #DEC9AC;
 * background:#776D53;
 * background: #CCA18B;
 * background: #A5C4BB
 */